@import url('https://fonts.cdnfonts.com/css/roboto-serif');

* {
    margin: 0;
    padding: 0;
    font-family: 'PP Neue Montreal', sans-serif;
    box-sizing: border-box;
    text-decoration: none; /* Removes underline */
    scroll-behavior: smooth;
}

.container {
    display: flex;
}

.blue {
    background-color: #1D00B4;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue p {
    color: white;
    font-size: 7rem;
    position: relative;
    display: inline-block;
    text-align: left;
}

.blue a {
    display: inline-block; /* Makes the <a> element fit the text */
    text-decoration: none; /* Removes underline */
}

.blue span {
    position: relative;
    color: white;
}

.blue span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* Adjust based on the font size */
    width: 0;
    height: 5px;
    background: white;
    transition: width 0.4s ease;
}

.blue a:hover span::after {
    width: 100%;
}

.white {
    background-color: #F1E4D5;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header p {
    font-weight: 450;
    font-size: 1.8rem;
    color: black;
    padding: 20px; /* Adjust the padding value as needed */
}

.circle {
    background-color: #1E1E1E;
    width: 50vw; /* Responsive width based on viewport width */
    height: 50vw; /* Keep the height equal to width for a perfect circle */
    max-width: 500px; /* Optional: Max size to prevent it from getting too large */
    max-height: 500px; /* Optional: Max size to prevent it from getting too large */
    border-radius: 50%;
}

.neon {
    height: 100vh;
    background-color: #7789ab;
    display: flex;
    justify-content: center;  
}

.neon-header {
    color: #c7f022;
    font-size: 12rem;
    text-align: center;
    font-weight: 500;
}

.neon img {
    width: 35vw; /* Responsive width based on viewport width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    justify-content: space-between;
    align-items: center; /* Center content horizontally */
}

.beginning {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: justify;
    gap: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 90rem; /* Optional: Set a max width for the row */
    color: #c7f022;
}

.col-title {
    font-size: 24px;
    font-weight: 500;
}

.col-body {
    font-size: 18px;
    font-weight: 400;

}


.black {
    height: 100vh;
    background-color: #101820;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.black img {
    height: 100vh;
    margin: 0;
}

.text-col {
    color: white;
    padding: 50px;
    overflow-y: auto;
    max-height: 100vh;
    max-width: 58rem;
}

.black-body{
    font-size: 18px;
    text-align: justify;
    
}

.black-title{
    font-size: 8rem;
    font-weight: 500;
    color: #fee715;
}

.green {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #06eb1c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green img {
    position: absolute;
    width: 250px;
    height: auto;
    animation: float 20s infinite alternate ease-in-out;
}

.green img:nth-child(2) {
    animation-duration: 18s;
    animation-delay: 0s;
}

.green img:nth-child(3) {
    animation-duration: 20s;
    animation-delay: 2s;
}

.green img:nth-child(4) {
    animation-duration: 22s;
    animation-delay: 4s;
}

.green img:nth-child(5) {
    animation-duration: 24s;
    animation-delay: 6s;
}

.green img:nth-child(6) {
    animation-duration: 26s;
    animation-delay: 8s;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(20vw, 15vh);
    }
    40% {
        transform: translate(-15vw, 25vh);
    }
    60% {
        transform: translate(25vw, -20vh);
    }
    80% {
        transform: translate(-20vw, -25vh);
    }
    100% {
        transform: translate(15vw, 20vh);
    }
}

.green-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
}

.red {
    height: 100vh;
    background-color: #ff1800;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Set relative positioning for absolute positioning of the text */
}

.red-square {
    height: 50%;
    width: 50%;
    background-color: white;
    border: solid;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 18px;
}

.text-overlay {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    font-size: 3rem;
    text-align: center; 
    z-index: 1; 
    font-weight: 500;    
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    .white {
        order: -1; /* Move .white on top */
    }
    .blue p {
        font-size: 3rem; /* Make text smaller on smaller screens */
    }
    .header p {
        font-size: 1.2rem; /* Make header text smaller */
    }
}

@media (max-width: 480px) {
    .blue p {
        font-size: 2rem; /* Further reduce text size for very small screens */
    }
    .header p {
        font-size: 1rem; /* Further reduce header text size */
    }
}

